<!-- wrapper -->
<div class="rapidxwpr">

  <!-- page -->
  <div class="page">

    <!-- contact page -->
    <div class="contact_page">

      <div class="contact_section">
        <div class="contact_section_cont">
          <h3>We are always here to help</h3>
          <p>Questions? Comments? Just want to tell us you love us?</p>
          <form action="" method="post">
            <ul>
              <li><input type="text" name="" class="contact-field" value="" placeholder="Name" /></li>
              <li><input type="text" name="" class="contact-field" value="" placeholder="Email" /></li>
              <li><textarea name="" class="contact-field" placeholder="Message"></textarea></li>
              <li><input type="submit" name="" class="contact-btn" value="SEND" /></li>
            </ul>
          </form>
          <div class="call-us">
            <span class="title">Or call us at</span>
            <span class="numbers">305-733-7260</span>
          </div>
        </div>
        <img src="images/animated_tree.gif" alt="" class="contact-section-img" />
      </div>

      <div class="faq_section">
        <h3>Frequently asked questions</h3>
        <ul>
          <li><a href="">what skill level or age do students need to be?</a></li>
          <li><a href="">What software and tools will I be learning?</a></li>
          <li><a href="">Do I get a diploma or certificate?</a></li>
          <li><a href="">What type of computer do I need?</a></li>
          <li><a href="">What can I actually do once I am do with my training?</a></li>
        </ul>
      </div>

    </div>
    <!-- / contact page -->

  </div>
  <!-- / page -->



</div>
<!-- / wrapper -->

