 <!-- main image -->
  <div class="main-image">
    <img src="images/art-banner.jpg" alt="" />
  </div>
  <!-- / main image -->

  <!-- page -->
  <div class="page">

    <div class="art_page_intro1">
      <h2>Game Art from the Pros!</h2>
      <p>We love our studnets! Which is why we work so hard to provide the most real world learning enviroment we can. This is why we are building the worlds largest game art library. And the best part is these amazing art assets produced by verterans in the game industry will always be free for our studnets to use while training with us, or even in their own games and projects royalty free!</p>
    </div>
    
    <div class="art_page_intro2">
      <h3>More then just game art, Go behind the scenes</h3>
      <p>It’s our mission to provide the most real world learning enviroment we can for our students. This is why our game art packs are much more then a collection of great art , they also introduce students to the production process as we often included concept sketches and early mockup.</p>
      <img src="images/art-intro-img2.png" class="art-intro-img2" alt="" />
    </div>
    
    <div class="art_packs_list">
      <div class="art_packs_title">
        <h1>GAME ART PACKS</h1>
      </div>
      <div class="art_pack_box">
        <h3>The lost world</h3>
        <img src="images/art-pack-img1.jpg" alt="" />
        <div class="art_pack_access">
          <div class="art_pack_download"><a href="">Always FREE FOR STUDNETS<em>download now</em></a></div>
          <div class="art_pack_buy"><a href="" class="buy-btn">Buy Now<em>instant download</em></a>non-STUDNETS<br />$79.95</div>
        </div>
      </div>
      <div class="art_pack_box">
        <h3>Frump saves the world</h3>
        <img src="images/art-pack-img2.jpg" alt="" />
        <div class="art_pack_access">
          <div class="art_pack_download"><a href="">Always FREE FOR STUDNETS<em>download now</em></a></div>
          <div class="art_pack_buy"><a href="" class="buy-btn">Buy Now<em>instant download</em></a>non-STUDNETS<br />$89.95</div>
        </div>
      </div>
      <div class="art_pack_box">
        <h3>Poly pastel platformer</h3>
        <img src="images/polyartpack.jpg" alt="" />
        <div class="art_pack_access">
          <div class="art_pack_download"><a href="">Always FREE FOR STUDNETS<em>download now</em></a></div>
          <div class="art_pack_buy"><a href="" class="buy-btn">Buy Now<em>instant download</em></a>non-STUDNETS<br />$9.95</div>
        </div>
      </div>
    </div>

  </div>
  <!-- page -->

  <!-- footer -->
  <div id="footer">
    <div class="footer_menu">
      <ul>
        <li><a href="training.html">Training</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="student.html">Become a student</a></li>
        <li><a href="">Login</a></li>
      </ul>
      <ul>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Terms</a></li>
      </ul>
    </div>
    <div class="footer_share"><a href="mailto:?subject=Learn how to make video games &body=Hey check out the School of Interactive Design where I am learning how to make awesome games. www.schoolofinteractivedesign.com">Share with a friend</a></div>
    <div class="footer_social_links">
      <a href="https://twitter.com/SID_Report"><img src="images/icon-twitter.png" alt="" /></a>
      <a href="https://www.facebook.com/schoolofinteractivedesign"><img src="images/icon-facebook.png" alt="" /></a>
      <a href="https://instagram.com/school_of_interactive_design/"><img src="images/icon-instagram.png" alt="" /></a>
    </div>
  </div>
  <!-- / footer -->

</div>
<!-- / wrapper -->

<script type="text/javascript" src="js/jquery.min.js"></script>