<div class="info">
				
	<div class="paragraph-header">
		<p>CREATE AMAZING GAMES</p>
	</div>
	
	<div class="paragraph">
		<p class="big">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada neque eu dolor gravida ornare. Pellentesque in ligula turpis. Cras blandit, dolor vel cursus convallis, ante metus dictum enim, eget eleifend massa metus venenatis diam. Maecenas at posuere libero, sit amet molestie nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam id pellentesque arcu, vel fringilla enim. Nullam a mi at lacus sollicitudin convallis. Etiam tempus laoreet ipsum, at laoreet tellus porta ac. Nunc sit amet congue risus.</p>
	</div>

	<div class="sign-up">
		<%= link_to image_tag('/images/signup.png'), new_user_registration_path %>
	</div>
	
	<div class="block-image">
		<img src="/images/3dblockimage.png"/>
	</div>
</div>