  <!-- slider -->
  <div class="slider">
    <ul id="slides" class="slides">
      <li>
        <div class="slider-image"><img src="images/slide-image1.jpg" alt="" /></div>
        <div class="slider-caption">
          <img src="images/slide-iphone1.png" class="slide-iphone" alt="" />
          <h5>Build your first game in under an hour!</h5>
        </div>
      </li>
      <li>
        <div class="slider-image"><img src="images/slide-image2.jpg" alt="" /></div>
        <div class="slider-caption">
          <img src="images/slide-iphone2.png" class="slide-iphone" alt="" />
          <h5>This is where imagination runs wild!</h5>
        </div>
      </li>
      <li>
        <div class="slider-image"><img src="images/slide-image3.jpg" alt="" /></div>
        <div class="slider-caption">
          <img src="images/slide-iphone3.png" class="slide-iphone" alt="" />
          <h5>Learn from industry experts</h5>
        </div>
      </li>
      <li>
        <div class="slider-image"><img src="images/slide-image4.jpg" alt="" /></div>
        <div class="slider-caption">
          <img src="images/slide-iphone4.png" class="slide-iphone" alt="" />
          <h5>Training for all ages and skill levels</h5>
        </div>
      </li>
    </ul>
    <h3 class="slideshow_title">Create Amazing Games</h3>
    <div class="slideshow_caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in lectus non dolor dapibus finibus sed at metus. Etiam feugiat placerat ullamcorper. Quisque vulputate libero in maximus feugiat. Donec a sem lobortis, molestie urna sed, bibendum elit. Duis et libero elementum, luctus mauris eget, rutrum ipsum. Vivamus id augue et odio interdum sollicitudin vel id elit. Proin sed venenatis tortor.</div>
  </div>
  <!-- / slider -->

  <!-- vimeo video -->
  <div class="vimeo-video">
    <iframe src="https://player.vimeo.com/video/22439234?title=0&byline=0&portrait=0" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <!-- / vimeo video -->

  <!-- quote section -->
  <div class="quote_section">
    <p><img src="images/quote-section-img.png" class="quote-section-img" alt="" /></p>
    <div class="quote_section_cont">
      <h3>What our students think</h3>
      <ul id="quotes" class="slides">
        <li>
          <div class="quote_text">
            <p>"I just finished the Introduction to Game Design training and I am officially hook. Your tutorials are the best I have seen. Thank you for not boring me to death. You guys get right to the point and that really helps me learn. Can't wait to learn more."</p>
          </div>
          <div class="quote_author">
            <span class="quote_author_name">Trish Perkens</span>
            <span class="quote_author_age">age 23</span>
          </div>
        </li>
        <li>
          <div class="quote_text">
            <p>" I have been a student of your site for 2 weeks now and I am amazed at how much I've learned. I've already created several iPhone games I am showing off to my friends and family. You guys have been awesome! "</p>
          </div>
          <div class="quote_author">
            <span class="quote_author_name">Mella Hendrix</span>
            <span class="quote_author_age">age 17</span>
          </div>
        </li>
        <li>
          <div class="quote_text">
            <p>" Your training rocks! By far the easiest game education I have come across. Please never stop doing what you are doing. I'm truly having a blast learning form your site."</p>
          </div>
          <div class="quote_author">
            <span class="quote_author_name">Jerry Fisher</span>
            <span class="quote_author_age">age 32</span>
          </div>
        </li>
        <li>
          <div class="quote_text">
            <p>" Thank you for all of the great training! I have always wanted to develop video games but I never knew where to start. Your tutorials are fun and easy to learn from. Thank you for making this so easy! "</p>
          </div>
          <div class="quote_author">
            <span class="quote_author_name">Avery Richards</span>
            <span class="quote_author_age">age 25</span>
          </div>
        </li>
        <li>
          <div class="quote_text">
            <p>I want to thank all of my teachers here at the School of Interactive Design. Thank you for helping me make my first iPhone game so awesome. I can't wait to make more games!</p>
          </div>
          <div class="quote_author">
            <span class="quote_author_name">Kelly Trimmer</span>
            <span class="quote_author_age">age 7</span>
          </div>
        </li>
        <li>
          <div class="quote_text">
            <p>I have nothing but praise for your site and your instructors. My autistic son has already made several video games from your training. Thank you for making your lessons so easy to learn from! With love!</p>
          </div>
          <div class="quote_author">
            <span class="quote_author_name">Mandy Thomas</span>
            <span class="quote_author_age">age 47</span>
          </div>
        </li>
        <li>
          <div class="quote_text">
            <p>"Your training has been nothing but awesome. I've been trying to get into game design for over a year now, and you guys are the only school that makes the process super easy and fun."</p>
          </div>
          <div class="quote_author">
            <span class="quote_author_name">Eric Andrews</span>
            <span class="quote_author_age">age 15</span>
          </div>
        </li>
        <li>
          <div class="quote_text">
            <p>"So well done! What more can I say about the fantastic instruction and support all of you guys have given me! It's been my life's dream to design video games!"</p>
          </div>
          <div class="quote_author">
            <span class="quote_author_name">Harrison Folley</span>
            <span class="quote_author_age">age 25</span>
          </div>
        </li>
        <li>
          <div class="quote_text">
            <p>"I wanted to make an Android game by the end of the summer and you guys taught me how to make it in just a few hours. Now I can make a tons of other awesome video games. Thank you for making this game design school, I really love it!"</p>
          </div>
          <div class="quote_author">
            <span class="quote_author_name">Jammal Ortiz</span>
            <span class="quote_author_age">age 9</span>
          </div>
        </li>
        <li>
          <div class="quote_text">
            <p>"I honestly didn't think it was possible to develop advanced video games without spending a ton of money on a college. I am learned more with you guys over the past month, then I did over the last 2 years at my art school which claims to have one of the best game design programs around"</p>
          </div>
          <div class="quote_author">
            <span class="quote_author_name">Deina Renllads</span>
            <span class="quote_author_age">age 22</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- / quote section -->

  <!-- courses section -->
  <div class="courses-section">
    <h3>What you can learn</h3>
    <img src="images/courses-section-img.png" class="courses-section-img" alt="" />
    <ul id="courses" class="slides">
      <li>
        <h4>2D Game Design</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in lectus non dolor dapibus finibus sed at metus. Etiam feugiat placerat ullamcorper. Quisque vulputate libero in maximus feugiat. Donec a sem lobortis, molestie urna sed, bibendum elit. Duis et libero elementum, luctus mauris eget, rutrum ipsum. Vivamus id augue et odio interdum sollicitudin vel id elit. Proin sed venenatis tortor.</p>
      </li>
      <li>
        <h4>3D Game Design</h4>
        <p>Maecenas rhoncus mollis odio at maximus. Pellentesque porttitor sapien vel lorem vestibulum ornare. Integer molestie vel ante at faucibus. Cras condimentum ante vitae magna elementum, porta lobortis sapien sagittis. Donec id ornare felis. Praesent viverra scelerisque fringilla. Aliquam eu maximus mauris, ac convallis tellus. Mauris sit amet blandit tellus. Integer molestie arcu et mattis laoreet. Nam ut congue ex. Class aptent</p>
      </li>
      <li>
        <h4>Digital painting</h4>
        <p>Fusce non magna nunc. Nulla sit amet diam quis velit ornare mattis. Fusce vitae vehicula dolor. Phasellus posuere porta ex, at porta nisi semper sed. Etiam sodales arcu magna, a laoreet est commodo sed. Ut venenatis dui quis tempus posuere. Mauris non nisl vehicula, venenatis erat eget, suscipit libero. Integer eget lectus ac tortor faucibus suscipit. Donec non massa nisi. Proin eget massa eu dui tempor tempor quis id diam.</p>
      </li>
      <li>
        <h4>Computer animation</h4>
        <p>In hac habitasse platea dictumst. Proin rutrum id magna quis sodales. Suspendisse potenti. Proin ultricies efficitur pellentesque. Integer lobortis ullamcorper metus, quis sagittis ante iaculis vitae. Phasellus quis commodo ipsum. Nam porta nulla vel tellus mattis commodo. In eu faucibus nibh. Pellentesque iaculis porta urna, in feugiat urna varius sit amet. Aliquam erat volutpat. Ut eu bibendum neque, nec blandit lectus.</p>
      </li>
      <li>
        <h4>Web Develpment</h4>
        <p>Morbi consequat, leo eu rutrum vulputate, odio lacus tristique dolor, vel vehicula mi nibh eu dolor. Praesent vitae pulvinar elit, a vehicula nisl. Mauris quis odio erat. Nam egestas congue dignissim. Fusce ullamcorper magna eget gravida imperdiet. Vestibulum maximus, lectus at gravida lacinia, risus ex iaculis enim, in accumsan lectus tellus eu elit. Proin vehicula dolor in diam facilisis, id tincidunt elit bibendum. Donec varius lacus in erat </p>
      </li>
    </ul>
  </div>
  <!-- / courses section -->

  <!-- courses section -->
  <div class="gamer-news-section">
    <h3>gamer news</h3>
    <ul id="gamernews" class="slides">
      <li>
        <div class="news-image"><img src="images/gamer-news-img1.jpg" alt="" /></div>
        <div class="news-info">
          <h4>Nintendo does the unthinkable</h4>
          <p>Aenean dignissim turpis eget ex porttitor semper. Aliquam in nulla sapien. Nunc et porta justo, ac mollis lorem. In lectus orci, rhoncus sit amet posuere semper, interdum nec arcu. Nullam lacinia ante ut turpis elementum, in tincidunt augue cursus. Curabitur nulla sem, iaculis eget tempus a, cursus sit amet lacus. Donec enim risus,</p>
          <a href="" class="readmore">read more</a>
        </div>
      </li>
      <li>
        <div class="news-image"><img src="images/gamer-news-img2.jpg" alt="" /></div>
        <div class="news-info">
          <h4>Apple anounces new gaming system</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in lectus non dolor dapibus finibus sed at metus. Etiam feugiat placerat ullamcorper. Quisque vulputate libero in maximus feugiat. Donec a sem lobortis, molestie urna sed, bibendum elit. Duis et libero elementum, luctus mauris eget, rutrum ipsum. Vivamus id augue et</p>
          <a href="" class="readmore">read more</a>
        </div>
      </li>
      <li>
        <div class="news-image"><img src="images/gamer-news-img3.jpg" alt="" /></div>
        <div class="news-info">
          <h4>How to make the best game possible?</h4>
          <p>In dolor mauris, auctor mollis ultrices eu, luctus quis felis. Sed id cursus neque. Nam varius ornare nunc et malesuada. Quisque libero nisi, porttitor vitae tempus facilisis, mollis in velit. Nunc mauris dui, molestie quis enim ut, rhoncus venenatis magna. Nunc urna metus, facilisis lacinia nisl vitae, consequat iaculis velit. Aliquam ornare </p>
          <a href="" class="readmore">read more</a>
        </div>
      </li>
      <li>
        <div class="news-image"><img src="images/gamer-news-img4.jpg" alt="" /></div>
        <div class="news-info">
          <h4>Why pay for play is loosing the game</h4>
          <p>Vestibulum eu ante sagittis, dapibus erat et, tincidunt diam. Nullam ornare justo sed lorem pellentesque porta. Integer cursus eget massa et gravida. Aliquam et tortor dignissim, ultrices metus eu, tempus orci. Morbi euismod lacinia ipsum. Etiam a magna massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posu</p>
          <a href="" class="readmore">read more</a>
        </div>
      </li>
      <li>
        <div class="news-image"><img src="images/gamer-news-img5.jpg" alt="" /></div>
        <div class="news-info">
          <h4>how to make an iphone game in an hour</h4>
          <p>Sed quam erat, elementum sit amet facilisis vitae, ultricies vel turpis. Fusce sodales viverra efficitur. Ut quis augue nisi. Suspendisse vel justo sed dui pharetra interdum. Donec euismod odio risus, id cursus elit commodo porta. Etiam ut dui sed felis pretium ultricies. Integer tempus aliquam lobortis. Integer at porttitor metus. Integer</p>
          <a href="" class="readmore">read more</a>
        </div>
      </li>
    </ul>
  </div>
  <!-- / courses section -->

<script type="text/javascript">
  <!--
  $(document).ready(function() {
    $(".swipebox").swipebox();
    $("ul#slides").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: false,
      nav: false,
      maxwidth: 960
    });
    $("ul#quotes").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: false,
      nav: false,
      maxwidth: 960
    });
    $("ul#courses").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: true,
      nav: false,
      maxwidth: 960
    });
    $("ul#gamernews").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: true,
      nav: false,
      maxwidth: 960
    });
  });
  // -->
</script>