<div class="slider">
    <ul id="slides" class="slides">
      <li>
        <div class="slider-image"><img src="/images/slide-image2.jpg" alt="" /></div>
      </li>
      <li>
        <div class="slider-image"><img src="/images/slide-image1.jpg" alt="" /></div>
      </li>
      <li>
        <div class="slider-image"><img src="/images/slide-image3.jpg" alt="" /></div>
      </li>
      <li>
        <div class="slider-image"><img src="/images/slide-image4.jpg" alt="" /></div>
      </li>
    </ul>
</div>

<div class="signup">

  <div class="form-header"><p>SIGN IN</p></div>
  <div class="signup-form">
    <div class="form-sub-header"><p>LOGIN</p></div>
      <form>
            
            <div class="field">
            <label>Email</label><br />
              <input class="form-field"></input>
            </div>

            <div class="field">
              <label>Password</label><br />
              
              <em>(8 characters minimum)</em><br />
              
              <input class="form-field"></input>
            </div>

           
              <div class="field">
                <input type="checkbox"></input>
                <label>Remember Me</label>
              </div>
            

            <div class="actions">
              <input type="submit"></input>
            </div>
      </form>



    
  </div>
</div>


<script type="text/javascript">
  <!--
  $(document).ready(function() {
    $(".swipebox").swipebox();
    $("ul#slides").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: false,
      nav: false,
      maxwidth: 960
    });
    $("ul#quotes").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: false,
      nav: false,
      maxwidth: 960
    });
    $("ul#courses").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: true,
      nav: false,
      maxwidth: 960
    });
    $("ul#gamernews").responsiveSlides({
      timeout: 5000,
      speed: 800,
      pager: true,
      nav: false,
      maxwidth: 960
    });
  });
  // -->
</script>